.sidebar {
    margin-top: 2px;
    background-color: #5783dbee;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    padding: 1rem;
    max-width: 15vw;

    .list-item {
        margin: 1rem 0;
    }
}